@each $size, $value in $spacing {
	.pis-#{$size} {
		padding-inline-start: #{$value};
	}
}

@each $size, $value in $spacing {
	.pie-#{$size} {
		padding-inline-end: #{$value};
	}
}

@each $size, $value in $spacing {
	.pbs-#{$size} {
		padding-inline-start: #{$value};
	}
}

@each $size, $value in $spacing {
	.pbe-#{$size} {
		padding-inline-start: #{$value};
	}
}
